.gallery_item {
    display: inline-block;
    width: 147px;
    margin-bottom: 10px;
    position: relative
}

.gallery_item .gallery_img {
    cursor: pointer;
}

.gallery_item img {
    width: 147px;
}

.gallery_item .action_box {
    background: #fff;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 22px;
    opacity: 0.7;
}

.gallery_item .action_report {
    background: no-repeat url(/img/report.png) -7px -3px;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 0px;
    top: 5px;
    width: 16px;
    opacity: 0.5;
}

.gallery_item .action_remove {
    background: no-repeat url(/img/close.png) 0 -26px;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 1px;
    top: 5px;
    width: 16px;
    opacity: 0.5;
}

.gallery_item .action_report:hover {
    background: no-repeat url(/img/report.png) -7px -3px;
    opacity: 1;
}

.gallery_item .action_remove:hover {
    background: no-repeat url(/img/close.png) 0 -26px;
    opacity: 1;
}

.gallery_item:hover .action_box {

    opacity: 0.9;
}

.gallery_content .time {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #999;
}

.gallery_content .description {
    font-size: 12px;
    padding-top: 7px;
    line-height: 140%;
    word-wrap: break-word;
}

.add-img-form {
    background: #F1F1F1;
    margin-top: 15px;
    border: 1px solid #C3CBD4;
}